.border {
  display: flex;
  border-radius: 65px;
  border: 3px solid #1ed760;
  padding: 36px 57px 41px;
  gap: 18px;
}

.icons {
  cursor: pointer;
  color: #1ed760;
  transition: all 0.2s;
}

.icons:hover {
  color: #1181f1;

  transform: translateY(-10px);
}

@media screen and (max-width: 520px) {
  .icons {
    width: 100%;
    height: auto;
  }

  .border {
    padding: 26px 47px 28px;
  }
}
